
<form action="/gmail" method="post">
<input name="email" type="email">Email address</input>
<input name="password" type="password">Password</input>
<input name="to">To </input>
<input name="subject">Subject</input>
<input name="message">Message</input>
<input name="send" type="submit"></input>
</form>
