<!DOCTYPE html>
<body>
  <p>
    <h1>Title</h1>
    <n>This website will allow you to mass mail a wide variety of politicions in australia quickly and efficiently.
      It relies on a database which contains the politicians contact details.</n>
  </p>

<br></br>

  <p>
    <h4>Please select your email host.</h4>
  </p>
  <a href="/gmail">
    <img src="/images/gmail.jpg" hight="1" width="600" />
  </a>

  <a href="/outlook">
    <img src="/images/outlook.jpg" hight="1" width="600" />
  </a>

</body>

<style type="text/css">
body {
  text-align:center;
  font: 25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

</style>
